h1 {
    color:blueviolet;
    font-size: 38px;
    line-height: 0.7em;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;

}
h2 {
    color:blueviolet;
    font-size: 22px;
    line-height: 0.6em;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}
section{
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}

